.status{
    border: 1px solid black;
    margin-bottom: 30px;
}
#before_start{
    width: 300px;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p{
    font-size: 20px;
    text-align: center;
}
button{
    width: 100%;
    padding: 10px;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
}
td{
    padding: 60px;
    border: 1px solid black;
}